main {
    max-width: 760px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 130px -50px lightblue;
    overflow: hidden;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
}

section {
    padding: 20px;
    border-bottom: 10px solid darkblue;
}

ul {
    list-style-type: none;
    margin: 5px 0 30px 0;
    padding-left: 25px;
}

li {
    padding: 8px 0;
    list-style: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}

.card {
    background-color: #fafafa;
    padding: 0.375rem;
    text-align: center;
    border-radius: 0.375rem;
}

.img-character {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 0.375rem;
}

.card-details {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: auto;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
    .grid-container {
        grid-template-columns: repeat(2, auto);
    }
}